html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-size: 1.6rem;
}

header{
  background-color: #465B75;
}

.contenedor{
  width: 120rem;
  margin: 0 auto;
}

.barra-superior{
  display: flex;
  justify-content: space-between;
}

.navbar a{
  color: white;
  text-decoration: none;
  margin: 0 .5rem;
}

.navbar a:hover{
  color: #808080;
}

.title{
  margin-top: 10rem;
  color: white;
}

.title h1{
  margin-bottom: 0;
  color: white;
  padding: 3rem;
}

main{
  background-color: #dee9f7;
}

.principal{
  display: flex;
  justify-content: space-around;
}

.productos{
  background-color: white;
  border: solid .1rem black;
  margin: 1rem .5rem;
  flex-basis: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img{
  max-width: 100%;
}

.card{
  flex-basis: calc(30% - 1rem);
}